wget==3.2
shapely==1.8.5.post1
colour==0.1.5
torchaudio==0.11.0
scikit-learn==1.0.2
threadpoolctl==3.1.0
termcolor==2.1.1
pyparsing==3.0.7
sklearn==0.0
fonttools==4.29.1
got10k==0.1.3
kiwisolver==1.3.2
pillow==9.0.1
joblib==1.1.0
scipy==1.8.0
matplotlib==3.5.1
fire==0.4.0
packaging==21.3